+media(1130px)
	.home-about

		&__flex
			min-height: 470px

		&__link
			margin-bottom: 1rem
			font-size: $fs5

		&__title
			font-size: $fs2
			line-height: 70px

		&__text
			font-size: $fs6

		&__btns
			gap: 1.5rem

	.descrip
		&__subtitle
			font-size: $fs3
			margin-bottom: .5rem

		&__info-text
			font-size: $fs6
			line-height: 20px

	.comment
		&__comment-block
			height: 300px
			justify-content: center

		&__text
			font-size: $fs6
			line-height: 24px

	.contact
		&__body
			width: 90%

	.footer
		&__contact
			width: 32%

		&__icon-links
			width: 77%

+media(1024px)
	.navbar
		gap: 2.5rem

	.home-about
		&__flex
			min-height: 500px

		&__btns
			flex-direction: column

		&__btn
			width: 100%

		&__exer-block
			bottom: -130px

	.services
		&__title-block
			width: 75%

		&__item
			width: 45%

		&__list
			height: 460px

	.descrip
		&__info-block
			padding-top: 2rem

		&__info-text
			font-size: $fs7

	.mentor
		&__title-block
			width: 80%

	.comment
		&__comment-block
			height: 230px

+media(900px)
	.container
		width: 78%

	.header
		&__nav
			width: 73%

	.navbar
		gap: 2rem

	.home-about
		&__flex
			align-items: center

		&__title
			font-size: 3rem
			line-height: 50px

		&__text
			font-size: $fs7

		&__exer-block
			bottom: -80px

	.descrip
		&__title
			font-size: $fs5

		&__subtitle
			font-size: $fs4

		&__info-text
			font-size: .8rem

	.comment
		&__subtitle
			max-width: 350px

	.footer
		&__contact
			width: 40%

		&__text-block
			width: 100%

+media(768px)
	.slide-btn
		font-size: $fs3
		color: $glavColor
		&:hover
			font-size: $fs3
			color: $glavColor

	.header 
		&__nav
			display: none

	.med-nav
		display: flex

	.home-about
		&__exer-block
			display: none

	.services
		&__list-block
			position: relative
			width: 70%
			height: 220px
			margin: 10px auto
			box-shadow: 0 0 10px rgba($glavColor, .2)
			overflow: hidden
		&__list
			position: absolute
			top: 0
			left: 0
			margin: 0
			padding: 0
			width: 400%
			justify-content: flex-start
			gap:0
			height: 100%
			transition: .5s

		&__item
			width: 25%
			height: 220px
		&__item-block
			width: 100%
			height: 100%
			opacity: 1

		&__slide-block
			justify-content: center

		// &__slide--prev, &__slide--next
		// 	font-size: $fs3
		// 	color: $glavColor
		// 	&:hover
		// 		font-size: $fs3
		// 		color: $glavColor

	.descrip
		&__info-block
			padding-left: 2.5rem
			&--reap
				padding:2rem 2.5rem 0 0

		&__info-text
			height: 75px
			overflow: hidden

	.mentor

		&__item
			width: 30%
			transform: scale(1.0)
			padding: .5rem
			background: #FFFAFB
			display: flex
			flex-direction: column
			align-items: center
			box-shadow: 0 2px 2px $glavColor

		&__img-block
			overflow: hidden
			width: 72%
			height: 86%

		&__slide-btns
			visibility: visible

	.swiper
		width: 330px
		height: 390px
		&-wrapper
			padding: 1rem 1rem 1rem 0

	.comment
		overflow: hidden
		&__subtitle
			font-size: $fs3
			width: null

		&__comment-block
			bottom: 1rem
			width: 65%
			padding: 1rem 2rem
			height: 200px

		&__name
			font-size: $fs6

		&__geo
			font-size: $fs7

		&__text
			font-size: $fs7
			line-height: 19px

		&__info-block
			text-align: right

		&__btns
			display: none

	.footer
		&__body
			flex-direction: column
			gap: 4rem
			align-items: center

		&__contact
			width: 80%
			text-align: center

		&__logo
			justify-content: center

		&__icon-links
			width: 100%
			justify-content: center
			gap: 2rem
			margin-top: 1.5rem

		&__list
			width: 80%

+media(600px)
	.home-about
		&__title-block
			width: 100%

		&__title
			color: $whiteColor

		&__text
			color: $whiteColor
			font-size: $fs5

		&__btn--more
			background: rgba($whiteColor, .2)

		&__img-block
			width: 100%
			left: 0

		&__img-darkfon
			display: block
	.services
		&__title-block
			width: 90%

		&__subtitle
			font-size: $fs3

		&__list-block
			width: 85%

	.descrip
		&__item
			flex-direction: column

		&__info-block
			width: 80%
			text-align: center
			margin: 0 auto
			align-items: center
			padding: 1.5rem 0 0 0
			gap: .5rem

		&__title
			font-size: $fs4

		&__subtitle
			font-size: $fs3
			color: $whiteColor

		&__info-text
			height: auto
			overflow: visible
			font-size: $fs5
			line-height: 33px
			color: $whiteColor

		&__img-block
			position: absolute
			z-index: -1
			width: 100%
			+afterFon($brr: 17%)
			&--reap
				+afterFon($brr: 0, $tlr: 17%)

	.mentor
		&__subtitle
			font-size: $fs3

	.comment
		overflow: visible
		&__body
			flex-direction: column
			align-items: center
			padding-top: 4.2rem
			gap: 1.2rem

		&__img-block	
			position: absolute
			width: 100%
			top: 0
			left: 0
			+afterFon($tlr: 17%)
			+poin($bot: 0, $rig: -40px)

		&__title-block
			padding: 0
			text-align: center
			width: 80%
			margin: 0
			&::before
				display: none

		&__subtitle
			margin-bottom: 2rem

		&__comment-block
			position: relative
			right: 0
			bottom: 0
			width: 75%
			height: 230px
			justify-content: space-between

	.contact
		padding-top: 2rem

		&__body
			width: 100%

		&__title
			font-size: $fs3

		&__text
			font-size: $fs6

		&__input-block
			width: 100%

	.footer
		&__contact
			width: 90%

		&__list
			width: 100%

+media(425px)
	.header 
		&__med-nav
			width: 240px

	.med-nav__link
		font-size: $fs5

	.home-about
		&__flex
			min-height: 380px
			align-items: flex-start

		&__title
			font-size: $fs3
			color: $whiteColor
			line-height: 40px

		&__text
			color: $whiteColor
			font-size: $fs7

		&__btns
			align-items: center

		&__btn
			width: 80%

	.services
		padding-top: 6rem

	.descrip
		&__list
			gap: 13rem

		&__title
			font-size: $fs5

		&__subtitle
			font-size: $fs4

		&__info-text
			font-size: $fs7
			line-height: 22px
			margin-bottom: .5rem

		&__img-block
			min-height: 380px
			overflow: hidden

		&__img
			width: 130%
			height: 100%
			object-fit: cover
			margin-left: -30px

	.mentor
		padding-top: 12rem

		&__title-blokc
			width: 90%

		&__title
			font-size: $fs5

		&__subtitle
			font-size: $fs4
			line-height: 30px

		&__item
			align-items: flex-start

		&__info-block
			margin-left: 2.5rem

	.swiper
		width: 80%
		height: 96%

	.comment
		padding-top: 3rem

		&__body
			align-items: flex-start
			padding-top: 2.4rem

		&__comment-block
			margin-left: 1rem
			width: 90%

	.contact
		&__email
			width: 62%
			font-size: $fs7

		&__btn
			font-size: $fs7
			width: 34%

	.footer
		&__logo-img
			width: 35px

		&__logo
			font-size: $fs4

		&__conact-text
			font-size: .8rem

		&__links
			font-size: $fs7
		
		&__link--sub
			font-size: $fs6

		&__text
			font-size: .7rem

+media(375px)
	.home-about
		&__text
			margin-bottom: 1.5rem

		&__btn
			font-size: $fs6

	.services
		&__title
			font-size: $fs5

		&__subtitle
			font-size: $fs4

	.mentor
		padding-top: 8rem

	.comment
		&__title-block
			margin: 0 auto

		&__title
			font-size: $fs5

		&__subtitle
			font-size: $fs4
			width: 100%
			margin-bottom: 1rem

		&__comment-block
			height: 250px

		&__text
			font-size: 0.8rem

	.footer
		&__link--sub
			font-size: $fs6